/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1100px;
}

@import "../partials/homepage"; 

// SHOPPING PAGES
#products-wrap {
	overflow: auto;
	margin-bottom: 1.5em;
}